html{
    /* image from unsplash.com author Paweł Czerwiński */
    background: center no-repeat url(https://images.unsplash.com/photo-1559762717-99c81ac85459?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(11, 70, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    font-size: 5em;
}
.cont-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
}

#container{
    /* background: lightblue; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5em;
    padding: 1em;
}
.myDivs{
    width: 60px;
    height: 60px;
    background: lightyellow;
    border: 2px solid rgb(229, 248, 118);
    padding: 0.5em;
    margin: 0.3em;
}
.fizzClass, .buzzClass, .fizzbuzzClass, .otherClass{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(229, 248, 118);
    padding: 0.5em;
    margin: 0.3em;
    display: flex;
    /* transform: scale(1.5); */

}

.fizzClass{
    background: rgb(243, 160, 127);  
}

.buzzClass{
    background: rgb(149, 216, 247);
}

.fizzbuzzClass{
    background: rgb(222, 233, 121);
}
.otherClass{
    background: lightgoldenrodyellow;
}